:root {
  --spacing-1: 6px;
  --spacing-2: 12px;
  --spacing-3: 18px;
  --spacing-4: 24px;
  --spacing-5: 30px;
  --spacing-6: 36px;
  --spacing-7: 42px;
  --spacing-8: 48px;

  --font-size-logo: 52px;
  --font-size-xxl: 32px;
  --font-size-xl: 28px;
  --font-size-lg: 24px;
  --font-size-md: 20px;
  --font-size-sm: 16px;
  --font-size-xs: 14px;

  @media screen and (min-width: 800px) {
    --font-size-logo: 72px;
    --font-size-xxl: 36px;
    --font-size-xl: 30px;
    --font-size-lg: 24px;
    --font-size-md: 20px;
    --font-size-sm: 16px;
    --font-size-xs: 14px;
  }

  --border-radius: var(--spacing-1);

  --svart: #000000;
  --svart70: #4f4f4f;
  --svart60: #646464;
  --svart40: #8f8f8f;
  --svart20: #bababa;
  --hvit: #ffffff;
  --overskyet: #e7e7e7;
  --overskyet50: #f3f3f3;
  --overskyet-kontrast: #cecece;
  --sol: #fff2ad;
  --sol-kontrast: #fff02b;
  --soloppgang: #ffb88d;
  --soloppgang-kontrast: #ff8034;
  --skyfritt: #b1e8ff;
  --skyfritt-kontrast: #43cbff;
  --solnedgang: #ff9999;
  --solnedgang-kontrast: #ff5b5b;
  --kveld: #e5b1ff;
  --kveld-kontrast: #8e24c9;
  --natt: #6d7abb;
  --natt-kontrast: #162365;
  --regn: #bccedd;
  --regn-kontrast: #7e9cb9;
  --gul: #fff2ad;
  --gul-kontrast: #fff02b;
  --hav: #a1f5e3;
  --hav-kontrast: #16dbc4;
  --grey: #b3b3b3;
  --morgendis: #707070;

  /* Define default color scheme for users without support for 'prefers-color-scheme' */
  --background-color: var(--svart);
  --border-color: var(--overskyet);
  --text-color: var(--overskyet);
  --lightText-color: var(--hvit);
  --link-color: var(--morgendis);
  --link-color-hover: var(--hvit);
  --faded-color: var(--morgendis);
  --cool-color: var(--natt-kontrast);
  --cool-color-ontrast: var(--hvit);
  --active: var(--regn-kontrast);
  --disabled: var(--grey);
  --error: var(--solnedgang-kontrast);
  --warning: var(--soloppgang);

  /* no-preference and perfers dark should use dark mode version */
  @media (prefers-color-scheme: no-preference), (prefers-color-scheme: dark) {
    --background-color: var(--svart);
    --lightText-color: var(--hvit);
    --text-color: var(--overskyet);
    --link-color: var(--morgendis);
    --link-color-hover: var(--hvit);
    --faded-color: var(--morgendis);
    --cool-color: var(--natt-kontrast);
    --cool-color-ontrast: var(--hvit);
    --active: var(--regn-kontrast);
  }

  @media (prefers-color-scheme: light) {
    --background-color: var(--hvit);
    --text-color: var(--svart);
    --link-color: var(--morgendis);
    --link-color-hover: var(--svart);
    --faded-color: var(--morgendis);
    --cool-color: var(--skyfritt);
    --cool-color-ontrast: var(--svart);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#__next {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

a {
  background--color: transparent;
  -color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

ul,
ol {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  -color: inherit;
}

menu {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
